body {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1.5px -1.5px #000,
                1.5px -1.5px #000,
                -1.5px 1.5px #000,
                1.5px 1.5px #000;
    color: rgb(233, 10, 10);
    height: 100%;
    text-align: center;
    width: 100%;
    background-image: url("http://4.bp.blogspot.com/-5kmlAQ4P3RU/TmpHqWO-URI/AAAAAAAAAAQ/nfR5rWW2hvU/s1600/bat-backgrounds-1-709263.gif");
    background-repeat: repeat;
    background-position: bottom center;
    background-attachment: fixed;
}

header {
    font-size: .7em;
    text-align: left;
    color: blue;

}

h3 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 5em;
}

ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-style: oblique;
}